@font-face {
    font-family: PlayfairDisplay;
    src: url(../src/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../src/assets/fonts/Quicksand_Light.otf);
}

.App {
    text-align: center;
}

.banner-img {
    background-image: url(../src/assets/images/Image 1.png);
    font-family: PlayfairDisplay;
    background-repeat: no-repeat;
    background-size: cover;
}
